<div class="logs-column">
    <div class="py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Time Logs</h2>
      <div class="d-flex">
        <input type="date" class="form-control me-2" [(ngModel)]="filterDate" (ngModelChange)="filterLogsByDay()">
        <button class="btn btn-danger" (click)="clearLogs()">Clear Logs</button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of filteredLogs$ | async">
            <td>{{log.start | date:'short'}}</td>
            <td>{{log.end | date:'short'}}</td>
            <td>{{log.duration}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</div>