.timer-column {
    padding: 1rem;
}

.card {
    border-radius: .75rem;
}

.flip-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    perspective: 600px;
    flex-wrap: wrap;
}

.digit-group {
    display: flex;
}

.digit {
    position: relative;
    width: 12vw;
    height: 18vw;
    max-width: 60px;
    max-height: 90px;
    margin: 0 0.25rem;
    background-color: #333;
    border-radius: .5rem;
    overflow: hidden;
}

.top,
.bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8vw;
    font-weight: bold;
    background-color: #444;
}

.top {
    top: 0;
    background-color: #333;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid #000;
}

.bottom {
    bottom: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.colon {
    font-size: 8vw;
    margin: 0 1vw;
    color: #333;
    font-weight: bold;
    line-height: 15vw;
}

.flip {
    animation: flip 0.6s ease-in-out;
    transform-origin: bottom;
}

@keyframes flip {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.form-control.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
    text-align: left;
}

@media (max-width: 575.98px) {
    .digit {
        width: 9vw !important;
        height: 15vw !important;
    }

    .top, .bottom {
        font-size: 6vw;
    }

    .colon {
        font-size: 6vw;
        line-height: 10vw;
    }
}


@media (min-width: 576px) {
    .digit {
        width: 8vw;
        height: 12vw;
    }

    .top, .bottom {
        font-size: 6vw;
    }

    .colon {
        font-size: 6vw;
        line-height: 10vw;
    }
}

@media (min-width: 768px) {
    .digit {
        width: 6vw;
        height: 9vw;
    }

    .top, .bottom {
        font-size: 4vw;
    }

    .colon {
        font-size: 4vw;
        line-height: 7.5vw;
    }
}

@media (min-width: 992px) {
    .digit {
        width: 4rem;
        height: 6rem;
    }

    .top, .bottom {
        font-size: 48px;
    }

    .colon {
        font-size: 48px;
        line-height: 5rem;
    }
}