body {
    background-color: #f8f9fa;
}

.timer-sticky {
    height: 100%;
}

@media (min-width: 768px) {
    .timer-sticky {
        top: 1rem;
        z-index: 1020;
        position: sticky;
    }
}