.card {
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h4 {
    font-weight: bold;
  }
  
  .table {
    th,
    td {
      text-align: center;
    }
  }
  
  .table-info {
    background-color: #e1f5fe;
    font-weight: bold;
  }
  